@page
@model EventSpaceWeb.Pages.AddVenueModel
@{
    ViewData["Title"] = "AddVenue";
}

<h1>AddVenue</h1>
<form method="post">
    

    Venue Name: <input type="text" id="name" name="name"><br>
    Street Address: <input type="text" name="streetaddress"><br>

    <input type="submit" value="Submit">
</form>
