@page
@model EventSpaceWeb.Pages.AddVenueModel
@{
    ViewData["Title"] = "AddVenue";
}

<h1>AddVenue</h1>
<form method="post">


    Venue Name: <input type="text" id="name" name="name"><br>
    Street Address Line1: &nbsp; <input type="text" name="streetaddress"><br>
    Street Address Line2: &nbsp;  <input type="text" name="streetaddress2"><br>
    City &nbsp; <input type="text" name="city" /> <br />
    State &nbsp; <input type="text" name="state" /> <br />
    Zip &nbsp; <input type="text" name="zip" />
    <br />






    <input type="submit" value="Submit">
</form>
